<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-account">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .float-right {
                float: right;
            }
        </style>
        <div class="card">
            <h1>
                {{account.nombre}} <div class="float-right">$[[account.saldo]]</div>
            </h1>
            <h3>{{account.numero}}</h3>
            <p>Movimiento</p>
        </div>
    </template>

    <script>
        /**
         * `my-account`
         * 
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class MyAccount extends Polymer.Element {
            static get is() {
                return 'my-account';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'my-account'
                    },
                    account: {
                        type: Object,
                        notify: true,
                    }
                };
            }
        }

        window.customElements.define(MyAccount.is, MyAccount);
    </script>
</dom-module>