<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

Access-Control-Allow-Origin: *

<dom-module id="my-login">
    <template>
        <style include="shared-styles">
            :host {
                --app-primary-color: #4285f4;
                --app-secondary-color: black;

                display: block;
            }

            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-secondary-color);
                line-height: 40px;
            }

            .drawer-list a.iron-selected {
                color: black;
                font-weight: bold;
            }
        </style>
        <app-drawer-layout fullbleed narrow="{{narrow}}">
            <!-- Main content -->
            <app-header-layout has-scrolling-region>
                <app-header slot="header" condenses reveals effects="waterfall">
                    <app-toolbar>
                        <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
                        <div main-title>Login</div>
                    </app-toolbar>
                </app-header>
                <div class="card">
                    <div class="row" hidden$={{logado}}>
                        <h1>Ingrese a la App</h1>
                    </div>
                    <div class="row" hidden$={{logado}}>
                        Email: <input type="email" value="{{email::input}}">
                    </div>
                    <div class="row" hidden$={{logado}}>
                        Password: <input type="password" value="{{password::input}}">
                    </div>
                    <div class="row" hidden$={{logado}}>
                        <button on-click="login" type="button" name="button">Login</button>
                    </div>
                    <a href="/signup">¿No tienes cuenta? ¡Registrate!</a>
                    <div class="row" hidden$={{!logado}}>
                        <span>Bienvenido a la aplicación</span>
                    </div>
                </div>
            </app-header-layout>
        </app-drawer-layout>
        <iron-ajax id="doLogin" url="http://18.223.23.243:3001/login" content-type="application/json" crossDomain:true
            dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
            on-response="manageAJAXResponse" on-error="showError"></iron-ajax>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class LoginApp extends Polymer.Element {
            static get is() {
                return 'my-login';
            }
            static get properties() {
                return {
                    email: {
                        type: String
                    },
                    password: {
                        type: String
                    },
                    logado: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            login() {
                var loginData = {
                    "email": this.email,
                    "password": this.password
                };
                console.log(loginData);
                this.$.doLogin.body = JSON.stringify(loginData);
                this.$.doLogin.generateRequest();
                console.log("Petición enviada");
            }

            manageAJAXResponse(data) {
                console.log("Respuesta recibida del servidor");
                console.log(data.detail.response);
                if (data.detail.response.token != null && data.detail.response.token != "") {
                    let page = "accounts";
                    localStorage.setItem("token", data.detail.response.token);
                    window.history.pushState({}, null, page);
                    window.dispatchEvent(new CustomEvent('location-changed'));
                } else {
                    console.log("NOPE");
                    showError("error");
                }
            }

            showError(error) {
                console.log("Ocurrio un error");
                alert("Datos ingresados incorrectos, por favor valide");
                console.log(error);
            }

        }

        window.customElements.define(LoginApp.is, LoginApp);
    </script>
</dom-module>