<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
<link rel="import" href="../bower_components/google-map/google-map.html">





<dom-module id="my-movement">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .float-right {
        float: right;
      }

      
      google-map {
            height: 250px;
            width: 380px;
            border: 2px solid black;
            margin: 25px 20px 20px 20px;
         }



    </style>
    <div class="card">
      <h3>[[movement.concepto]] <div class="float-right">$[[movement.importe]]</div></h3>
      <p>[[movement.fecha]]</p>
      <p>
       mapa 
       <!-- <google-map-directions map="[[map]]"

   start-address = "United States" end-address = "Mountain View">
</google-map-directions>
       <google-map latitude = "19.42" longitude = "-99.17" api-key = "AIzaSyDF1CvwpTtN2y0uEKb5dLlfYEOtQZDb0i4"></google-map>
       <google-map-marker latitude="40.421432" longitude="-3.7536663" title="Casa de Campo de Madrid"></google-map-marker>
      </google-map> -->
      <google-map latitude=[[movement.latitud]] longitude=[[movement.longitud]] zoom="15">
        <google-map-marker latitude=[[movement.latitud]] longitude=[[movement.longitud]] title="Torre BBVA">
        
        </google-map-marker>
      </google-map>
      </p>
      <p>.</p>
    </div>
  </template>

  <script>
    /**
     * `my-movement`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyMovement extends Polymer.Element {
      static get is() { return 'my-movement'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'my-movement'
          },
          movement: {
            type: Object,
            notify: true,
          }
        };
      }
    }

    window.customElements.define(MyMovement.is, MyMovement);
  </script>
</dom-module>
